@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Shortify";
}

<div class="text-center">
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h1 class="display-4">Welcome, @User.Claims.FirstOrDefault(c => c.Type == "email")?.Value!</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to Shortify</h1>
    }
    <p class="lead">Your go-to URL shortening service.</p>
    <p>Shorten your links quickly and easily.</p>
    @if (User.Identity is { IsAuthenticated: true })
    {
        <form method="post" asp-page-handler="Short">
            <div class="form-group">
                <label for="originalUrl">Original URL</label>
                <input type="text" class="form-control" id="originalUrl" name="originalUrl"
                       placeholder="Enter your long URL here" required/>
            </div>
            @if (User.Claims.FirstOrDefault(c => c.Type == "role")?.Value == "admin")
            {
                <div class="form-group">
                    <label for="customShort">Custom Short URL</label>
                    <input type="text" class="form-control" id="customShort" name="customShort"
                           placeholder="Enter your custom short URL here"/>
                </div>
            }
            <button type="submit" class="btn btn-primary">Shorten URL</button>
        </form>
    }
</div>