@page
@model LogoutModel
@{
    ViewData["Title"] = "- Logout";
}

<div class="text-center">
    <h1 class="display-4">You have been logged out</h1>
    <p class="lead">Thank you for using Shortify. You have been successfully logged out.</p>
    <a class="btn btn-primary" asp-page="/Login">Login Again</a>
</div>